 .login-pf body {
   border-top:  transparent;
   background: transparent;
   background-image: none;
   background-repeat: no-repeat;
 }

 .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
 } 

 .input-group {
   margin-bottom: 25px;
 }

 .panel-body{
   padding-top: 30px;
 }

 #kc-logo-wrapper {
   background-image: none;
   background-repeat: no-repeat;
   visibility: hidden;
 }

 #kc-content #kc-content-wrapper #kc-form {
    width: 100%;
    height: 100%;
 }

 #loginbox {
    margin-top: 100px;
 }


 @media (max-width: 541px) {
   #loginbox{
     margin-top: 20px;
   }

   .input-group {
     margin-bottom: 6px;
   }

   .panel-body{
     padding-top: 10px;
   }
 }

 @media (min-width: 542px) and (max-width: 1400px) {
   #loginbox{
      margin-top: 40px;
   }

   .input-group {
     margin-bottom: 15px;
   }
   .panel-body{
     padding-top: 20px;
   }
 }

