.navbar-pf .navbar-brand {
  padding: 0;
  height: 56px;
  line-height: 56px;
  background-position: center center;
  background-image: url('../img/logo.png');
  background-size: 148px 36px;
  background-repeat: no-repeat;
  width: 148px;
}
